/*All CSS in here*/
#high-king {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#high-king h1 {
    text-align: center;
    color: blue;
}

#high-king img {
    width: 300px;
}